<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Edit skill</title>
</head>
<body>
  <h1>Edit Skill</h1>
  <form autocomplete="off" action="/skills/<%= skill._id %>?_method=PUT" method="POST">
    <input value="<%= skill.skillName %>" type="text" name="skillName">
    <button type="submit"> Update </button>
  </form>
  <h4><a href="/skills/">List of Skills</a></h4>
</body>
</html>