<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h2>Skill details</h2>
  <h4>Id: </h4> <%= skill._id %>
  <h4>SkillName: </h4> <%= skill.skillName  %>
  <h4> Status: </h4> <%= skill.learnt ? 'Learnt' : 'Haven\'t learnt yet'%>
  <h4><a href="/skills/<%= skill._id %>/edit">Edit Skill</a></h4>
  <h4><a href="/skills/">List of Skills</a></h4>
</body>
</html>